*{
    margin: 0;
    border: 0;
}

.calculator-body{

    margin: 50px auto;
    padding: 30px 20px;
    width: 250px;
    background-color: black;
    border-radius: 15px;

}
.display-screen {
    margin: 0 auto;
    width: 95%;
    height: 70px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
}

.display-screen p {
    padding: 2.5px 5px;
}

#entry-display {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#result-display {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.btn-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;

}

.btn {
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: radial-gradient(lightgrey, white);
    cursor: pointer;
}

.normal {
    height: 25px;
    border-radius: 12px;
    line-height: 25px;
}

.round {
    height: 45px;
    border-radius: 50%;
}

.operator {
    font-size: 25px;
}

#on-or-ac-btn {
    background: none;
    background-color: greenyellow;
    color: white;
    font-size: 10px;
}

@media (max-width: 600px){
    .calculator-body {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: flex-end;
        border-radius: 0;
    }

    .display-screen{
        width: 100%;
        height: 28vh;
        border-radius: 0;
    }

    .btn-container {
        height: 70vh;       
        row-gap: 20px;
        column-gap: 6%;
    }
    .normal {
        height: 10%;
    }

    .round {
        height: 13%;
    }
}
